.container::before {
    display: block;
    content: '';
    height: 60px;
  }.input-group {
    width: 30%;
}

.card {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 50%;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        #news-title {
            text-decoration-line: underline;
        }
    }
}