<section class="showcase">
  <div class="showcase-top">
    <img src="../../../assets/logo-full.png" alt="Brand logo" class="d-inline-block align-text-center">
  </div>
  <div class="showcase-content">
    <h1>We'll be back soon! </h1>
    <p>Sorry for the inconvenience but we're perfoming some maintenance at the moment.<br> 
      If you need to you can awlays contact us, otherwise we'll be back online shortly!
    </p>  
    <a routerLink="/games" class="button btn-rounded btn-xl"><i-bs class="mx-1" name="chevron-left"></i-bs>Games Page</a>
  </div>
</section>
