<app-navbar></app-navbar>

<section class="bg-light p-4 m-3">
  <div class="container my-1">
    <h2 class="text-center">Meet The Team!</h2>
    <div class="row g-4">
      <div class="col">
        <div class="card bg-light m-3">
          <div class="card-body text-center">
            <img src="../../../assets/mk.jpg" alt="Maria" class="rounded-circle mb-3" />
            <h3 class="card-title mb-3">Maria Kyriazopoulou</h3>
              <p class="card-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestias.
              </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light m-3">
          <div class="card-body text-center">
            <img src="../../../assets/kk.jpg" alt="Kyriakos" class="rounded-circle mb-3" />
            <h3 class="card-title mb-3">Kyriakos Koutroulakis</h3>
              <p class="card-text">
                A tech enthusiast who is intrigued by qualtiy code and problem solving.
              </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light m-3">
          <div class="card-body text-center">
            <img src="../../../assets/tk.jpg" alt="Thomas" class="rounded-circle mb-3" />
            <h3 class="card-title mb-3">Thomas<br> Kyritsis</h3>
              <p class="card-text">
                A CS graduate aiming to expand my knowledge and ultimately become a Full Stack Dev.
              </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light m-3">
          <div class="card-body text-center">
            <img src="../../../assets/am.jpg" alt="Andrianna" class="rounded-circle mb-3" />
            <h3 class="card-title mb-3">Andrianna Manolopoulou</h3>
              <p class="card-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestias.
              </p>
          </div>
        </div>
      </div>
    </div> 
    <p class="h5 lead text-center my-2">
      &copy;ReGeneration Academy On UI/UX Design & Development powered by <i-bs class="mx-1" name="microsoft"></i-bs>Microsoft
    </p>
  </div>
</section>

<app-footer></app-footer>