<section class="showcase">
    <div class="showcase-top">
        <img src="../../../assets/logo-full.png" alt="Brand logo" class="d-inline-block align-text-center">
    </div>
    <div class="showcase-content">
        <div class="card w-30">
            <form #registerForm="ngForm" (ngSubmit)="onRegister()">
                <div class="mb-3 align-content-center">
                    <h6 class="mb-4">STEP 1 OF 2</h6>
                    <h1 class="card-header mb-4 fw-normal text-black">Subscribe</h1>
                    <h6 class="card-subtitle text-muted">
                        Already have an account?
                        <a routerLink="/login">Login</a>
                    </h6>
                </div>
                <div class="card-body">
                    <div class="mb-1">
                        <label for="fullname" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullname" name="fullname"
                            [(ngModel)]="user.fullName" #fullname="ngModel" required>
                        <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)"
                            class="alert alert-danger">
                            <div *ngIf="fullname.hasError('required')">
                                The field is required
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <label for="userEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="userEmail" name="userEmail"
                            [(ngModel)]="user.email" #userEmail="ngModel" required email
                            placeholder="example@example.com">
                        <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)"
                            class="alert alert-danger">
                            <div *ngIf="userEmail.hasError('required')">
                                The field is required
                            </div>
                            <div *ngIf="userEmail.hasError('email')">
                                Wrong email format
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            [(ngModel)]="user.password" #password="ngModel" placeholder="Must be at least 6 characters"
                            required minlength="6">
                    </div>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div *ngIf="password.hasError('required')">
                            The field is required
                        </div>
                        <div *ngIf="password.hasError('minlength')">
                            Minimum 6 characters
                        </div>
                    </div>
                    <div class="mt-3 mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="subscribeCheck">
                        <label class="form-check-label" for="subscribeCheck">Sign up for email updates</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-danger" [disabled]="!registerForm.valid" type="submit">PROCEED
                        WITH PAYMENT</button>
                </div>
            </form>

            <div class="text-muted mt-2 align-content-center">
                <h6>By continuing, you agree to accept our Privacy Policy & Terms of Service.</h6>
            </div>
        </div>
    </div>
</section>