<footer class="p-5 bg-dark text-white text-center position-relative">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <img src="../../../assets/logo-full.png" style="width: 160px; height: 45px;" alt="ReGamerverse Logo">
      <div class="d-flex text-center">
        <p class="fake-btn mx-2">About</p>
        <p class="fake-btn mx-2">Help</p>
        <p class="fake-btn mx-2">Terms</p>
      </div>
      <div>
        <label for="email">Stay in touch with our newsletter:</label>
        <input type="email" class="form-control my-2" id="email" placeholder="Enter your email...">
      </div>
      <div>
        <i-bs class="fake-btn mx-2" name="facebook"></i-bs>
        <i-bs class="fake-btn mx-2" name="instagram"></i-bs>
        <i-bs class="fake-btn mx-2" name="twitter"></i-bs>
        <i-bs class="fake-btn mx-2" name="twitch"></i-bs>
      </div>
    </div>
  </div>
  <!-- <p class="lead">Copyright &copy; 2022 ReGeneration UI/UX Academy</p> -->
</footer>