.showcase {
    background: url('../../../assets/lpbg.jpg') no-repeat center center/cover;
}

.card-body {
    text-align: left
}

.place {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-30%, -50%);
  
    .card {
      width: 500px;
    }
  }