<!-- Game Details -->
<div class="container">
  <!-- Spinner When Loading -->
  <div class="d-flex justify-content-center" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
  <!-- Game Info -->
  <div class="my-4">
    <div class="d-flex flex-row align-items-center">
      <div class="custom-cont card p-3">
        <img [src]="data.background_image" [alt]="data.slung" class="img-fluid">
      </div>
      <div class="custom-cont mx-4 p-3">
        <p class="h2 my-2">{{ data.name }}</p>
        <div class="d-flex flex-row justify-content-between align-items-center">
          <a class="btn btn-danger my-2">Play Now</a>  
          <h6 class="text-warning fs-5"><strong>Rating: {{ data.rating }}</strong></h6>
          <div></div>
        </div>
        <p class="text-muted">{{ data.description_raw }}</p>
      </div>
    </div>
    <hr>
    <div class="custom-cont d-flex flex-row align-items-center my-3">
      <div class="p-2">
        <ul>
          <li class="my-2">
            Website: 
            <a [href]="data.website" target="_blank" class="link-primary">link<i-bs name="link-45deg"></i-bs></a>
          </li>
          <li class="my-2">
            Reddit: 
            <a [href]="data.reddit_url" target="_blank" class="link-primary">link<i-bs name="link-45deg"></i-bs></a>
          </li>
          <li class="my-2">
            Metacritic: 
            <a [href]="data.metacritic_url" target="_blank" class="link-primary">link<i-bs name="link-45deg"></i-bs></a>
          </li>
        </ul>
      </div>
      <div class="mx-4" >
        <!-- Dynamically showing ratings -->
        <div *ngFor="let rating of data.ratings">
          <label class="text-muted custom-txt">{{ rating.title }}</label>
          <div class="progress" style="height: 15px;">
            <div 
              class="progress-bar progress-bar-striped" 
              role="progressbar" 
              [style.width]="bringResult(rating.percent)+'%'" 
              aria-valuemin="0" 
              aria-valuemax="100"
            ></div>
          </div>
          <small>{{ rating.percent }}%</small>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</div>