#top {
  width: 100%;
  height: 20px;
  background-color: inherit;
}

.input-group {
  width: 30%;
  
  input {
    outline: none;
  }
}

.f-width {
  width: 115px;
}

.card {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 50%;
  }
}

